*{
    margin: 0;
    padding: 0;
}

.orqa_fon{
    height: 300px;
    background-color: rgb(121, 229, 121);
}

.margin{
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}