.bg-blog{
    width: 100%;
    height: 100vh;
    background-image: url("./Zufarbek_background.jpg");
    background-size: cover;
    background-position: top;
}
.menu{
    /* width: 6%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.name p{
    transform: rotate(-90deg) translate(50px , 0);
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
}
.icons{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}
.header{
    /* width: calc(100% - 6%); */
}
.left{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: White;
    
}
.left_element{
    width: 60%;
    margin: 0 auto;
    height: 450px;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    border-radius: 20px;
}
.right iframe{
    width: 60%;
    margin: 0 auto;
    height: 450px;
    border-radius: 20px;
}
.left p{
    font-size: 20px;
}
.left img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}
.left button{
    margin: 5px 10px;
    padding: 5px 20px;
    
}

.opacity{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.495);
    
}
.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}









/* .left , .right{
    border: 2px solid red;
} */